
@model ask_read_data.Models.ViewModel.DownloadHistoryViewModel

<div>
    <div class="container-fluid">
        <br />
        <br />
        <div style="font-size: small">
            <table id="exportexcelpartial" class="table table-white table-striped table-bordered table-sm table-bordered">
                <thead class="align-middle text-center thead-light">
                    <tr class="form-group">
                        <th style="width: 2%" class="align-middle">No</th>
                        <th style="width: 8%" class="align-middle">
                            @Html.DisplayNameFor(model => model.DataTableHeader.BubanMeiType)
                        </th>
                        <th style="width: 10%" class="align-middle">
                            @Html.DisplayNameFor(model => model.DataTableHeader.LastDownloadDateTime)
                        </th>
                        <th style="width: 8%" class="align-middle">
                            @Html.DisplayNameFor(model => model.DataTableHeader.Position)
                        </th>
                        <th style="width: 7%" class="align-middle">
                            @Html.DisplayNameFor(model => model.DataTableHeader.ParetoRenban)
                        </th>
                        <th style="width: 8%" class="align-middle">
                            @Html.DisplayNameFor(model => model.DataTableHeader.DownloadDateTime)
                        </th>
                    </tr>
                </thead>
                <tbody class="align-middle text-center">
                    @if (Model != null && Model.DataTableBody.Count > 0)
                    {
                        int Index = 1;
                        @foreach (var item in Model.DataTableBody)
                        {
                            <tr class="form-group text-center align-middle text-center font-weight-normal">
                                <td class="align-middle text-center">
                                    @Index
                                </td>
                                <td class="align-middle text-center">
                                    @Html.DisplayFor(modelItem => item.BubanMeiType)
                                </td>
                                <td class="align-middle text-center">
                                    @Html.DisplayFor(modelItem => item.LastDownloadDateTime)
                                </td>
                                <td class="align-middle text-center">
                                    @Html.DisplayFor(modelItem => item.Position)
                                </td>
                                <td class="align-middle text-center">
                                    @Html.DisplayFor(modelItem => item.ParetoRenban)
                                </td>
                                <td class="align-middle text-center">
                                    @Html.DisplayFor(modelItem => item.DownloadDateTime)
                                </td>
                            </tr>
                            Index++;
                        }
                    }
                    else
                    {
                        <p class="h6 text-center text-danger">0行が影響を受けるため, その他の条件で検索してください</p>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
